# 1. Data Undestanding

**Understanding dataset based on BFFRS dataset**.

## Collecting our variables of interest

In the original BRFSS there are 279 columns but for my analysis I need just to keep and find some of them related to social/demographic, health conditions and sleep duration. 

List of variables:

- **SEX**: Sex

- **_STATE**: State

- **_RACE**: Race (calculated variable)

- **_AGE_G**: CV - Six-level imputed age category

- **_EDUCAG**: CV - education level completed

- **_INCOMG**: CV - income categories

- **GENHLTH**: Health Status

- **EMPLOY1**: Employment status 


Questions: *On average, how many hours of sleep do you get in a 24-hour period?*

- **SLEPTIM1** = How Much Time Do You Sleep?

I filter the original data frame only for values 1 - 24 (Number of hours [1-24], just valid answers about sleeping).


*Health Risk Factors*:

- **_RFSMOK3**: CV - Adults who are current smokers

- **_RFHLTH**: CV - for fair or poor general health

- **_TOTINDA**: CV - for no leisure time physical activity

- **_BMI5CAT**: CV - Four-categories of Body Mass Index (BMI)


*CV=Calculated variable*

Using Pandas I'm going to grab those columns as Pandas Series, clean them up, and then piece everything back together as a master DataFrame.

# 2. importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sweetviz as sv

%matplotlib inline

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# 3. Loading Each Dataset BRFSS 2016-2021

In [2]:
## 3.1 Load Data bffrs2016
#Windows
#df_bffrs_2016 = pd.read_sas('E:/AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2016XPT/LLCP2016.XPT')
#df_bffrs_2016.head()
#Mac
df_bffrs_2016 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com/My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2016XPT/LLCP2016.XPT')
df_bffrs_2016.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_MAM5021,_RFPAP33,_RFPSA21,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
0,1.0,1.0,b'01072016',b'01',b'07',b'2016',1100.0,b'2016000001',2.016000e+09,1.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,1.0,b'01112016',b'01',b'11',b'2016',1100.0,b'2016000002',2.016000e+09,1.0,...,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,2.0
2,1.0,1.0,b'01062016',b'01',b'06',b'2016',1100.0,b'2016000003',2.016000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,1.0,1.0,b'01082016',b'01',b'08',b'2016',1100.0,b'2016000004',2.016000e+09,1.0,...,NaN,NaN,1.0,2.0,1.0,2.0,NaN,2.0,1.0,9.0
4,1.0,1.0,b'01052016',b'01',b'05',b'2016',1100.0,b'2016000005',2.016000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [3]:
## 3.2 Load Data bffrs2017
#df_bffrs_2017 = pd.read_sas('E:/AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2017XPT/LLCP2017.XPT')
#df_bffrs_2017.head()
#Mac
df_bffrs_2017 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com//My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2017XPT/LLCP2017.XPT')
df_bffrs_2017.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01302017',b'01',b'30',b'2017',1100.0,b'2017000001',2.017000e+09,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,b'01122017',b'01',b'12',b'2017',1100.0,b'2017000002',2.017000e+09,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,b'01102017',b'01',b'10',b'2017',1100.0,b'2017000003',2.017000e+09,1.0,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,1.0,1.0,2.0
3,1.0,1.0,b'02082017',b'02',b'08',b'2017',1200.0,b'2017000004',2.017000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
4,1.0,1.0,b'01302017',b'01',b'30',b'2017',1100.0,b'2017000005',2.017000e+09,1.0,...,3.0,2.0,2.0,4.0,2.0,1.0,2.0,2.0,2.0,2.0

In [4]:
## 3.3 Load Data bffrs2018
#df_bffrs_2018 = pd.read_sas('E:/AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2018XPT/LLCP2018.XPT')
#df_bffrs_2018.head()
#Mac
df_bffrs_2018 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com//My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2018XPT/LLCP2018.XPT')
df_bffrs_2018.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_MAM5022,_RFPAP34,_RFPSA22,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
0,1.0,1.0,b'01052018',b'01',b'05',b'2018',1100.0,b'2018000001',2.018000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,1.0,1.0,b'01122018',b'01',b'12',b'2018',1100.0,b'2018000002',2.018000e+09,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,1.0,1.0,b'01082018',b'01',b'08',b'2018',1100.0,b'2018000003',2.018000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,1.0,1.0,b'01032018',b'01',b'03',b'2018',1100.0,b'2018000004',2.018000e+09,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,1.0,1.0,b'01122018',b'01',b'12',b'2018',1100.0,b'2018000005',2.018000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [5]:
## 3.4 Load Data bffrs2019
#df_bffrs_2019 = pd.read_sas('e:/AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2019XPT/LLCP2019.xpt')
#df_bffrs_2019.head()
#Mac
df_bffrs_2019 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com//My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2019XPT/LLCP2019.XPT')
df_bffrs_2019.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,b'01182019',b'01',b'18',b'2019',1100.0,b'2019000001',2.019000e+09,1.0,...,114.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,1.0,2.0
1,1.0,1.0,b'01132019',b'01',b'13',b'2019',1100.0,b'2019000002',2.019000e+09,1.0,...,121.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,1.0,2.0
2,1.0,1.0,b'01182019',b'01',b'18',b'2019',1100.0,b'2019000003',2.019000e+09,1.0,...,164.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,2.0,2.0
3,1.0,1.0,b'01182019',b'01',b'18',b'2019',1200.0,b'2019000004',2.019000e+09,1.0,...,NaN,9.0,9.0,1.0,1.0,1.000000e+00,1.000000e+00,9.0,9.0,NaN
4,1.0,1.0,b'01042019',b'01',b'04',b'2019',1100.0,b'2019000005',2.019000e+09,1.0,...,178.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,1.0,2.0

In [6]:
## 3.5 Load Data bffrs2020
#df_bffrs_2020 = pd.read_sas('e:/AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2020XPT/LLCP2020.xpt')
#df_bffrs_2020.head()
#Mac
df_bffrs_2020 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com//My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2020XPT/LLCP2020.XPT')
df_bffrs_2020.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,b'01042020',b'01',b'04',b'2020',1100.0,b'2020000001',2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,b'02072020',b'02',b'07',b'2020',1200.0,b'2020000002',2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,b'01232020',b'01',b'23',b'2020',1100.0,b'2020000003',2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0
3,1.0,1.0,b'01092020',b'01',b'09',b'2020',1100.0,b'2020000004',2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,1.0,1.0,b'01042020',b'01',b'04',b'2020',1100.0,b'2020000005',2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0

In [149]:
## 3.6 Load Data bffrs2021
#df_bffrs_2021 = pd.read_sas('e:/AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2021XPT/LLCP2021.xpt')
#df_bffrs_2021.head()
#Mac
df_bffrs_2021 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com//My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2021XPT/LLCP2021.XPT')
df_bffrs_2021.head()

e:\Python\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

# 3.1 Data Understanding: Statistical Analysis and Visualization

In [150]:
#Extract Information using Statistical Descriptive 
df_bffrs_2016.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERES,CELLFON4,LADULT,...,_MAM5021,_RFPAP33,_RFPSA21,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
count,486303.000000,486303.000000,486303.000000,4.863030e+05,253013.0,252265.000000,41.0,249594.0,252265.000000,41.000000,...,132043.000000,102386.000000,151855.000000,234791.000000,230141.000000,234791.000000,111013.000000,213798.000000,231156.000000,453321.000000
mean,28.973366,6.756479,1113.388978,2.016007e+09,1.0,1.000163,1.0,1.0,1.535528,1.609756,...,1.217013,1.197693,2.130684,1.904264,1.326513,1.830803,1.975039,1.996010,1.289463,1.975375
std,15.959411,3.342713,34.053420,6.915870e+03,0.0,0.012748,0.0,0.0,0.498737,0.493865,...,0.412213,0.398261,2.067062,0.294230,0.468938,0.374927,0.156007,0.063038,0.453514,1.493921
min,1.000000,1.000000,1100.000000,2.016000e+09,1.0,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,15.000000,4.000000,1100.000000,2.016002e+09,1.0,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000
50%,27.000000,7.000000,1100.000000,2.016005e+09,1.0,1.000000,1.0,1.0,2.000000,2.000000,...,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000
75%,40.000000,10.000000,1100.000000,2.016009e+09,1.0,1.000000,1.0,1.0,2.000000,2.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,78.000000,12.000000,1200.000000,2.016037e+09,1.0,2.000000,1.0,1.0,2.000000,2.000000,...,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,9.000000

In [151]:
#Extract Information using Statistical Descriptive 
df_bffrs_2017.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELLFON4,LADULT,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
count,450016.000000,450016.000000,450016.000000,4.500160e+05,197456.0,197456.000000,41.0,197456.0,197456.000000,41.000000,...,450016.000000,450016.000000,450016.000000,450016.000000,450016.000000,450016.000000,450016.000000,162618.000000,162618.000000,408344.000000
mean,28.816780,6.485225,1116.078984,2.017005e+09,1.0,1.000208,1.0,1.0,1.533486,1.634146,...,2.793072,2.525292,2.390324,3.466292,2.689993,1.736543,1.798674,2.234777,2.274084,1.918559
std,15.813072,3.382001,36.733740,4.288308e+03,0.0,0.014408,0.0,0.0,0.498879,0.487652,...,2.381000,2.398836,2.148023,2.348590,2.390209,2.238111,2.230670,2.437222,2.668678,1.380642
min,1.000000,1.000000,1100.000000,2.017000e+09,1.0,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,17.000000,4.000000,1100.000000,2.017002e+09,1.0,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,27.000000,7.000000,1100.000000,2.017004e+09,1.0,1.000000,1.0,1.0,2.000000,2.000000,...,2.000000,2.000000,2.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
75%,41.000000,9.000000,1100.000000,2.017008e+09,1.0,1.000000,1.0,1.0,2.000000,2.000000,...,3.000000,2.000000,2.000000,4.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000
max,72.000000,12.000000,1200.000000,2.017022e+09,1.0,2.000000,1.0,1.0,2.000000,2.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [152]:
#Extract Information using Statistical Descriptive 
df_bffrs_2018.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELLFON4,LADULT,...,_MAM5022,_RFPAP34,_RFPSA22,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
count,437436.000000,437436.000000,437436.000000,4.374360e+05,165282.0,165282.000000,32.0,165282.0,165282.000000,32.000000,...,110446.000000,107353.000000,143255.000000,205552.000000,200844.000000,205552.000000,94966.000000,188087.000000,201691.000000,407855.000000
mean,29.718411,6.600138,1114.456743,2.018006e+09,1.0,1.000194,1.0,1.0,1.766230,1.468750,...,1.211334,1.197153,2.405920,1.898955,1.323106,1.829347,1.976318,1.996486,1.279358,1.962325
std,15.601965,3.451899,35.166458,5.772886e+03,0.0,0.013913,0.0,0.0,0.423229,0.507007,...,0.408257,0.397851,2.319018,0.301389,0.467664,0.376206,0.152058,0.059178,0.448685,1.526857
min,1.000000,1.000000,1100.000000,2.018000e+09,1.0,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,1100.000000,2.018002e+09,1.0,1.000000,1.0,1.0,2.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000
50%,29.000000,7.000000,1100.000000,2.018004e+09,1.0,1.000000,1.0,1.0,2.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000
75%,41.000000,10.000000,1100.000000,2.018008e+09,1.0,1.000000,1.0,1.0,2.000000,2.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,72.000000,12.000000,1200.000000,2.018036e+09,1.0,2.000000,1.0,1.0,2.000000,2.000000,...,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,9.000000

In [153]:
#Extract Information using Statistical Descriptive 
df_bffrs_2019.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHONE,LADULT1,...,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_FLSHOT7,_PNEUMO3,_AIDTST4
count,418268.000000,418268.000000,418268.000000,4.182680e+05,149941.0,149941.000000,38.0,149941.0,149940.0,149941.0,...,3.648380e+05,418268.000000,418268.000000,4.182680e+05,4.182680e+05,4.182680e+05,4.182680e+05,159112.000000,159112.000000,377977.000000
mean,29.619266,6.539609,1117.441688,2.019005e+09,1.0,1.000253,1.0,1.0,2.0,1.0,...,2.041379e+02,2.188267,2.188843,9.983073e-01,9.976953e-01,1.100156e-01,1.323506e-01,2.227393,2.366585,1.965471
std,16.153650,3.337855,37.946802,3.653318e+03,0.0,0.015918,0.0,0.0,0.0,0.0,...,2.678953e+02,2.397414,2.632302,4.110758e-02,4.795244e-02,3.182731e-01,3.456062e-01,2.474179,2.733602,1.561388
min,1.000000,1.000000,1100.000000,2.019000e+09,1.0,1.000000,1.0,1.0,2.0,1.0,...,5.397605e-79,1.000000,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,1.000000,1.000000
25%,18.000000,4.000000,1100.000000,2.019002e+09,1.0,1.000000,1.0,1.0,2.0,1.0,...,1.140000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,1.000000,1.000000,1.000000
50%,27.000000,7.000000,1100.000000,2.019004e+09,1.0,1.000000,1.0,1.0,2.0,1.0,...,1.650000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,1.000000,1.000000,2.000000
75%,42.000000,9.000000,1100.000000,2.019007e+09,1.0,1.000000,1.0,1.0,2.0,1.0,...,2.290000e+02,2.000000,2.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,2.000000,2.000000,2.000000
max,72.000000,12.000000,1200.000000,2.019017e+09,1.0,2.000000,1.0,1.0,2.0,1.0,...,1.320400e+04,9.000000,9.000000,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,9.000000,9.000000,9.000000

In [154]:
#Extract Information using Statistical Descriptive 
df_bffrs_2020.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHONE,LADULT1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
count,401958.000000,401958.000000,401958.000000,4.019580e+05,124751.0,124751.000000,23.0,124751.0,124751.0,124751.000000,...,126604.000000,177922.000000,171486.000000,171486.000000,175853.000000,176357.000000,174274.000000,194217.000000,175698.000000,367921.000000
mean,30.010359,5.959192,1117.747874,2.020005e+09,1.0,1.000184,1.0,1.0,2.0,1.008561,...,2.337162,1.580266,2.851959,2.836663,2.578989,2.880906,2.938459,2.537296,1.417279,2.040280
std,15.773473,3.524224,38.207382,3.396684e+03,0.0,0.013577,0.0,0.0,0.0,0.092129,...,2.203378,0.872805,0.443808,0.487945,0.673007,0.451306,0.325189,0.511927,0.762727,1.680522
min,1.000000,1.000000,1100.000000,2.020000e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,3.000000,1100.000000,2.020002e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,1.000000,1.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,1.000000,1.000000
50%,29.000000,6.000000,1100.000000,2.020004e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,2.000000
75%,41.000000,9.000000,1100.000000,2.020007e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,2.000000
max,72.000000,12.000000,1200.000000,2.020016e+09,1.0,2.000000,1.0,1.0,2.0,2.000000,...,9.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,9.000000

In [155]:
#Extract Information using Statistical Descriptive 
df_bffrs_2021.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
count,438693.000000,438693.000000,438693.000000,4.386930e+05,117786.000000,117786.000000,30.0,117786.0,117786.0,117786.000000,...,4.386930e+05,4.386930e+05,3.876060e+05,3.785660e+05,438693.000000,438693.000000,4.386930e+05,4.386930e+05,4.386930e+05,4.386930e+05
mean,30.742155,6.405680,1118.189030,2.021006e+09,1.000017,1.000255,1.0,1.0,2.0,1.006291,...,8.835473e-01,8.629406e-01,1.783430e+02,2.715442e+02,2.270561,2.257184,9.949669e-01,9.926988e-01,1.265190e-01,1.516619e-01
std,15.334888,3.421731,38.575453,6.383751e+03,0.004121,0.015957,0.0,0.0,0.0,0.079067,...,3.207674e-01,3.439104e-01,6.912931e+02,1.036227e+03,2.485479,2.711460,7.076589e-02,8.513485e-02,3.472441e-01,3.785014e-01
min,1.000000,1.000000,1100.000000,2.021000e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,20.000000,3.000000,1100.000000,2.021002e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,5.700000e+01,1.140000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
50%,31.000000,6.000000,1100.000000,2.021004e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,1.000000e+02,1.670000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
75%,41.000000,9.000000,1100.000000,2.021008e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,2.000000e+02,2.290000e+02,2.000000,2.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
max,78.000000,12.000000,1200.000000,2.021039e+09,2.000000,2.000000,1.0,1.0,2.0,2.000000,...,1.000000e+00,1.000000e+00,1.980000e+04,3.960000e+04,9.000000,9.000000,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00

# 3.2 Selected Variables

In [156]:
# Dataset 1 BFFRS 2016
df_bffrs_2016_var = df_bffrs_2016[['GENHLTH','MENTHLTH','HLTHPLN1','CHECKUP1','EXERANY2','_SMOKER3', '_TOTINDA', '_RFDRHV5','MARITAL','RENTHOM1','EMPLOY1','INCOME2','_EDUCAG','MSCODE','BLIND','DECIDE','SEX','_FLSHOT6','_RACE','_BMI5CAT','_AGEG5YR','DEAF','DIABETE3','PDIABTST','PREDIAB1','_RFBMI5','CVDCRHD4','CVDINFR4','CVDSTRK3','CHCOCNCR','HAVARTH3','ADDEPEV2','CHCKIDNY']]
df_bffrs_2016_var

,GENHLTH,MENTHLTH,HLTHPLN1,CHECKUP1,EXERANY2,_SMOKER3,_TOTINDA,_RFDRHV5,MARITAL,RENTHOM1,...,PDIABTST,PREDIAB1,_RFBMI5,CVDCRHD4,CVDINFR4,CVDSTRK3,CHCOCNCR,HAVARTH3,ADDEPEV2,CHCKIDNY
0,1.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,7.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
2,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,1.0,3.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0
3,3.0,88.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
4,5.0,3.0,1.0,1.0,1.0,4.0,1.0,1.0,5.0,3.0,...,2.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486298,2.0,88.0,2.0,4.0,2.0,9.0,2.0,9.0,4.0,2.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
486299,3.0,88.0,2.0,2.0,1.0,4.0,1.0,9.0,6.0,2.0,...,2.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
486300,4.0,10.0,1.0,2.0,2.0,3.0,2.0,1.0,3.0,1.0,...,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
486301,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,2.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
486302,1.0,88.0,2.0,1.0,2.0,4.0,2.0,2.0,5.0,2.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [157]:
df_bffrs_2016_var.columns

Index(['GENHLTH', 'MENTHLTH', 'HLTHPLN1', 'CHECKUP1', 'EXERANY2', '_SMOKER3',
       '_TOTINDA', '_RFDRHV5', 'MARITAL', 'RENTHOM1', 'EMPLOY1', 'INCOME2',
       '_EDUCAG', 'MSCODE', 'BLIND', 'DECIDE', 'SEX', '_FLSHOT6', '_RACE',
       '_BMI5CAT', '_AGEG5YR', 'DEAF', 'DIABETE3', 'PDIABTST', 'PREDIAB1',
       '_RFBMI5', 'CVDCRHD4', 'CVDINFR4', 'CVDSTRK3', 'CHCOCNCR', 'HAVARTH3',
       'ADDEPEV2', 'CHCKIDNY'],
      dtype='object')

In [158]:
# Dataset 1 BFFRS 2017
df_bffrs_2017_var = df_bffrs_2017[['GENHLTH','MENTHLTH','HLTHPLN1','CHECKUP1','EXERANY2','_SMOKER3','_TOTINDA','_RFDRHV5','MARITAL','RENTHOM1','EMPLOY1','INCOME2','_EDUCAG','MSCODE','BLIND','DECIDE','SEX','_FLSHOT6','_RACE','_BMI5CAT','_AGEG5YR','DEAF','DIABETE3','PDIABTST','PREDIAB1','_RFBMI5','CVDCRHD4','CVDINFR4','CVDSTRK3','CHCOCNCR','HAVARTH3','ADDEPEV2','CHCKIDNY']]
df_bffrs_2017_var

,GENHLTH,MENTHLTH,HLTHPLN1,CHECKUP1,EXERANY2,_SMOKER3,_TOTINDA,_RFDRHV5,MARITAL,RENTHOM1,...,PDIABTST,PREDIAB1,_RFBMI5,CVDCRHD4,CVDINFR4,CVDSTRK3,CHCOCNCR,HAVARTH3,ADDEPEV2,CHCKIDNY
0,2.0,88.0,1.0,2.0,1.0,4.0,1.0,1.0,3.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
1,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,3.0,88.0,1.0,1.0,2.0,4.0,2.0,1.0,1.0,1.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,4.0,88.0,1.0,1.0,NaN,4.0,9.0,1.0,3.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
4,4.0,88.0,1.0,1.0,2.0,3.0,2.0,1.0,3.0,2.0,...,1.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450011,3.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,2.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
450012,4.0,5.0,1.0,2.0,2.0,4.0,2.0,1.0,1.0,1.0,...,NaN,NaN,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
450013,3.0,88.0,1.0,2.0,2.0,4.0,2.0,1.0,1.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
450014,4.0,88.0,1.0,1.0,2.0,3.0,2.0,1.0,5.0,3.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
450015,3.0,88.0,1.0,1.0,2.0,4.0,2.0,1.0,5.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [159]:
df_bffrs_2017_var.columns

Index(['GENHLTH', 'MENTHLTH', 'HLTHPLN1', 'CHECKUP1', 'EXERANY2', '_SMOKER3',
       '_TOTINDA', '_RFDRHV5', 'MARITAL', 'RENTHOM1', 'EMPLOY1', 'INCOME2',
       '_EDUCAG', 'MSCODE', 'BLIND', 'DECIDE', 'SEX', '_FLSHOT6', '_RACE',
       '_BMI5CAT', '_AGEG5YR', 'DEAF', 'DIABETE3', 'PDIABTST', 'PREDIAB1',
       '_RFBMI5', 'CVDCRHD4', 'CVDINFR4', 'CVDSTRK3', 'CHCOCNCR', 'HAVARTH3',
       'ADDEPEV2', 'CHCKIDNY'],
      dtype='object')

In [160]:
# Dataset 2 BFFRS 2018
df_bffrs_2018_var = df_bffrs_2018[['GENHLTH','MENTHLTH','HLTHPLN1','CHECKUP1','EXERANY2','_SMOKER3','_TOTINDA','_RFDRHV6','MARITAL','RENTHOM1','EMPLOY1','INCOME2','_EDUCAG','MSCODE','BLIND','DECIDE','SEX1','_FLSHOT6','_RACE','_BMI5CAT','_AGEG5YR','DEAF','DIABETE3','PDIABTST','PREDIAB1','_RFBMI5','CVDCRHD4','CVDINFR4','CVDSTRK3','CHCOCNCR','HAVARTH3','ADDEPEV2','CHCKDNY1']]
df_bffrs_2018_var

,GENHLTH,MENTHLTH,HLTHPLN1,CHECKUP1,EXERANY2,_SMOKER3,_TOTINDA,_RFDRHV6,MARITAL,RENTHOM1,...,PDIABTST,PREDIAB1,_RFBMI5,CVDCRHD4,CVDINFR4,CVDSTRK3,CHCOCNCR,HAVARTH3,ADDEPEV2,CHCKDNY1
0,2.0,88.0,1.0,1.0,2.0,4.0,2.0,1.0,3.0,1.0,...,1.0,3.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
1,3.0,88.0,2.0,2.0,1.0,1.0,1.0,1.0,5.0,2.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,5.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,3.0,1.0,...,NaN,NaN,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0
3,1.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,2.0,1.0,...,7.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2.0,88.0,1.0,1.0,2.0,4.0,2.0,1.0,1.0,1.0,...,2.0,3.0,9.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437431,1.0,30.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,1.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
437432,1.0,88.0,1.0,2.0,1.0,4.0,1.0,1.0,3.0,1.0,...,1.0,3.0,9.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
437433,5.0,88.0,1.0,2.0,2.0,3.0,2.0,1.0,3.0,1.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
437434,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0,1.0,...,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
437435,3.0,30.0,1.0,1.0,2.0,4.0,2.0,1.0,4.0,1.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0

In [161]:
df_bffrs_2018_var.columns

Index(['GENHLTH', 'MENTHLTH', 'HLTHPLN1', 'CHECKUP1', 'EXERANY2', '_SMOKER3',
       '_TOTINDA', '_RFDRHV6', 'MARITAL', 'RENTHOM1', 'EMPLOY1', 'INCOME2',
       '_EDUCAG', 'MSCODE', 'BLIND', 'DECIDE', 'SEX1', '_FLSHOT6', '_RACE',
       '_BMI5CAT', '_AGEG5YR', 'DEAF', 'DIABETE3', 'PDIABTST', 'PREDIAB1',
       '_RFBMI5', 'CVDCRHD4', 'CVDINFR4', 'CVDSTRK3', 'CHCOCNCR', 'HAVARTH3',
       'ADDEPEV2', 'CHCKDNY1'],
      dtype='object')

In [162]:
# Dataset 3 BFFRS 2019
# 'SLEPTIM1', 'ECIGARET' tidak ada
df_bffrs_2019_var = df_bffrs_2019[['GENHLTH','MENTHLTH','HLTHPLN1','CHECKUP1','EXERANY2','_SMOKER3','_TOTINDA','_RFDRHV7','MARITAL','RENTHOM1','EMPLOY1','INCOME2','_EDUCAG','MSCODE','BLIND','DECIDE','_SEX','_FLSHOT7','_RACE','_BMI5CAT','_AGEG5YR','DEAF','DIABETE4','PDIABTST','PREDIAB1','_RFBMI5','CHCKDNY2','CVDCRHD4','CVDINFR4','CVDSTRK3','CHCOCNCR','HAVARTH4','ADDEPEV3']]
df_bffrs_2019_var

,GENHLTH,MENTHLTH,HLTHPLN1,CHECKUP1,EXERANY2,_SMOKER3,_TOTINDA,_RFDRHV7,MARITAL,RENTHOM1,...,PDIABTST,PREDIAB1,_RFBMI5,CHCKDNY2,CVDCRHD4,CVDINFR4,CVDSTRK3,CHCOCNCR,HAVARTH4,ADDEPEV3
0,3.0,88.0,1.0,1.0,2.0,3.0,2.0,1.0,2.0,2.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1,4.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
2,3.0,30.0,1.0,1.0,1.0,4.0,1.0,1.0,3.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
3,4.0,88.0,1.0,1.0,NaN,9.0,9.0,9.0,3.0,1.0,...,2.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
4,2.0,88.0,1.0,1.0,2.0,3.0,2.0,1.0,1.0,1.0,...,1.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418263,3.0,88.0,1.0,1.0,2.0,4.0,2.0,1.0,2.0,2.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
418264,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,5.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
418265,2.0,5.0,1.0,1.0,1.0,4.0,1.0,1.0,6.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
418266,3.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,NaN,NaN,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
418267,3.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,NaN,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [163]:
df_bffrs_2019_var.columns

Index(['GENHLTH', 'MENTHLTH', 'HLTHPLN1', 'CHECKUP1', 'EXERANY2', '_SMOKER3',
       '_TOTINDA', '_RFDRHV7', 'MARITAL', 'RENTHOM1', 'EMPLOY1', 'INCOME2',
       '_EDUCAG', 'MSCODE', 'BLIND', 'DECIDE', '_SEX', '_FLSHOT7', '_RACE',
       '_BMI5CAT', '_AGEG5YR', 'DEAF', 'DIABETE4', 'PDIABTST', 'PREDIAB1',
       '_RFBMI5', 'CHCKDNY2', 'CVDCRHD4', 'CVDINFR4', 'CVDSTRK3', 'CHCOCNCR',
       'HAVARTH4', 'ADDEPEV3'],
      dtype='object')

In [164]:
# Dataset 4 BFFRS 2020
df_bffrs_2020_var = df_bffrs_2020[['GENHLTH','MENTHLTH','HLTHPLN1','CHECKUP1','EXERANY2','_SMOKER3','_TOTINDA','_RFDRHV7','MARITAL','RENTHOM1','EMPLOY1','INCOME2','_EDUCAG','MSCODE','BLIND','DECIDE','_SEX','_FLSHOT7','_RACE','_BMI5CAT','_AGEG5YR','DEAF','DIABETE4','PDIABTST','PREDIAB1','_RFBMI5','CHCKDNY2','CVDCRHD4','CVDINFR4','CVDSTRK3','CHCOCNCR','HAVARTH4','ADDEPEV3']]
df_bffrs_2020_var

,GENHLTH,MENTHLTH,HLTHPLN1,CHECKUP1,EXERANY2,_SMOKER3,_TOTINDA,_RFDRHV7,MARITAL,RENTHOM1,...,PDIABTST,PREDIAB1,_RFBMI5,CHCKDNY2,CVDCRHD4,CVDINFR4,CVDSTRK3,CHCOCNCR,HAVARTH4,ADDEPEV3
0,2.0,30.0,2.0,4.0,1.0,1.0,1.0,1.0,2.0,1.0,...,NaN,NaN,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0
1,3.0,88.0,1.0,1.0,1.0,9.0,1.0,9.0,3.0,1.0,...,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0
2,3.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,2.0,3.0,9.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0
3,1.0,88.0,1.0,2.0,2.0,4.0,2.0,1.0,3.0,1.0,...,2.0,3.0,9.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,3.0,2.0,...,2.0,3.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401953,3.0,88.0,2.0,2.0,1.0,4.0,1.0,1.0,2.0,1.0,...,1.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
401954,3.0,88.0,1.0,3.0,2.0,4.0,2.0,1.0,1.0,2.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
401955,3.0,88.0,1.0,2.0,1.0,4.0,1.0,1.0,1.0,1.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
401956,3.0,88.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
401957,3.0,7.0,1.0,1.0,2.0,4.0,2.0,1.0,1.0,1.0,...,1.0,1.0,2.0,7.0,2.0,2.0,1.0,2.0,2.0,1.0

In [165]:
df_bffrs_2020_var.columns

Index(['GENHLTH', 'MENTHLTH', 'HLTHPLN1', 'CHECKUP1', 'EXERANY2', '_SMOKER3',
       '_TOTINDA', '_RFDRHV7', 'MARITAL', 'RENTHOM1', 'EMPLOY1', 'INCOME2',
       '_EDUCAG', 'MSCODE', 'BLIND', 'DECIDE', '_SEX', '_FLSHOT7', '_RACE',
       '_BMI5CAT', '_AGEG5YR', 'DEAF', 'DIABETE4', 'PDIABTST', 'PREDIAB1',
       '_RFBMI5', 'CHCKDNY2', 'CVDCRHD4', 'CVDINFR4', 'CVDSTRK3', 'CHCOCNCR',
       'HAVARTH4', 'ADDEPEV3'],
      dtype='object')

In [166]:
# Dataset 5 BFFRS 2021
# 'SLEPTIM1', 'ECIGARET' tidak ada
df_bffrs_2021_var = df_bffrs_2021[['GENHLTH','MENTHLTH','_HLTHPLN','CHECKUP1','EXERANY2','_SMOKER3','_TOTINDA','_RFDRHV7','MARITAL','RENTHOM1','EMPLOY1','INCOME3','_EDUCAG','MSCODE','BLIND','DECIDE','_SEX','_FLSHOT7','_RACE','_BMI5CAT','_AGEG5YR','DEAF','DIABETE4','PDIABTST','PREDIAB1','_RFBMI5','CHCKDNY2','CVDCRHD4','CVDINFR4','CVDSTRK3','CHCOCNCR','HAVARTH5','ADDEPEV3']]
df_bffrs_2021_var

,GENHLTH,MENTHLTH,_HLTHPLN,CHECKUP1,EXERANY2,_SMOKER3,_TOTINDA,_RFDRHV7,MARITAL,RENTHOM1,...,PDIABTST,PREDIAB1,_RFBMI5,CHCKDNY2,CVDCRHD4,CVDINFR4,CVDSTRK3,CHCOCNCR,HAVARTH5,ADDEPEV3
0,5.0,10.0,1.0,2.0,2.0,3.0,2.0,1.0,1.0,1.0,...,2.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1,3.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,9.0,1.0,...,NaN,NaN,9.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0
2,2.0,88.0,1.0,1.0,2.0,4.0,2.0,1.0,3.0,1.0,...,NaN,NaN,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
3,2.0,10.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,5.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,NaN,NaN,2.0,2.0,7.0,1.0,1.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438688,2.0,20.0,2.0,4.0,1.0,3.0,1.0,1.0,5.0,1.0,...,2.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
438689,3.0,88.0,9.0,1.0,2.0,4.0,2.0,1.0,3.0,1.0,...,NaN,NaN,9.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
438690,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,7.0,2.0
438691,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,2.0,1.0,...,1.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
438692,1.0,2.0,1.0,1.0,1.0,4.0,1.0,1.0,2.0,1.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [167]:
df_bffrs_2021_var.columns

Index(['GENHLTH', 'MENTHLTH', '_HLTHPLN', 'CHECKUP1', 'EXERANY2', '_SMOKER3',
       '_TOTINDA', '_RFDRHV7', 'MARITAL', 'RENTHOM1', 'EMPLOY1', 'INCOME3',
       '_EDUCAG', 'MSCODE', 'BLIND', 'DECIDE', '_SEX', '_FLSHOT7', '_RACE',
       '_BMI5CAT', '_AGEG5YR', 'DEAF', 'DIABETE4', 'PDIABTST', 'PREDIAB1',
       '_RFBMI5', 'CHCKDNY2', 'CVDCRHD4', 'CVDINFR4', 'CVDSTRK3', 'CHCOCNCR',
       'HAVARTH5', 'ADDEPEV3'],
      dtype='object')

# Rename Colume

In [168]:
#Rename 2016
df_final_2016 = df_bffrs_2016_var.rename(columns ={"GENHLTH": "X1", "MENTHLTH": "X2", "HLTHPLN1" : "X3", "CHECKUP1" : "X4", "EXERANY2": "X5","_SMOKER3" : "X6", "_TOTINDA": "X7","_RFDRHV5" : "X8", "MARITAL" : "X9", "RENTHOM1" : "X10", "EMPLOY1" : "X11", "INCOME2" : "X12", "_EDUCAG" : "X13", "MSCODE":"X14", "BLIND": "X15", "DECIDE" :"X16", "SEX" : "X17", 
"_FLSHOT6" : "X18","_RACE" :"X19", "_BMI5CAT" : "X20", "_AGEG5YR" :"X21","DEAF" : "X22", "DIABETE3": "X23", "PDIABTST" :"X24", "PREDIAB1": "X25","_RFBMI5" : "X26", "CHCKIDNY" : "Y1", "CVDCRHD4" : "Y2", "CVDINFR4": "Y3", "CVDSTRK3" : "Y4", "CHCOCNCR" : "Y5", "HAVARTH3": "Y6", "ADDEPEV2" : "Y7"}) 

print (df_final_2016)

         X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  X26  \
0       1.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  7.0  3.0  1.0
1       2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  2.0  3.0  2.0
2       3.0   1.0  1.0  1.0  1.0  1.0  1.0  1.0  3.0  1.0  ...  1.0  3.0  1.0
3       3.0  88.0  1.0  1.0  1.0  3.0  1.0  1.0  1.0  1.0  ...  NaN  NaN  2.0
4       5.0   3.0  1.0  1.0  1.0  4.0  1.0  1.0  5.0  3.0  ...  2.0  3.0  1.0
...     ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
486298  2.0  88.0  2.0  4.0  2.0  9.0  2.0  9.0  4.0  2.0  ...  2.0  3.0  2.0
486299  3.0  88.0  2.0  2.0  1.0  4.0  1.0  9.0  6.0  2.0  ...  2.0  3.0  1.0
486300  4.0  10.0  1.0  2.0  2.0  3.0  2.0  1.0  3.0  1.0  ...  1.0  1.0  2.0
486301  2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  2.0  ...  1.0  3.0  2.0
486302  1.0  88.0  2.0  1.0  2.0  4.0  2.0  2.0  5.0  2.0  ...  1.0  3.0  2.0

         Y2   Y3   Y4   Y5   Y6   Y7   Y1
0       2.0  2.0  2.0  2.0  2.0  2.0  2.0
1       2.0  2.0  2.0  2.0  2.0  1.0  2.0
2       2.0  1.0  2.0  2.0  1.0  2.0  2.0
3       2.0  2.0  2.0  2.0  1.0  2.0  2.0
4       2.0  2.0  2.0  2.0  2.0  2.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
486298  2.0  2.0  2.0  2.0  2.0  1.0  2.0
486299  2.0  2.0  2.0  2.0  2.0  2.0  2.0
486300  2.0  2.0  2.0  2.0  2.0  2.0  2.0
486301  2.0  2.0  2.0  2.0  2.0  2.0  2.0
486302  2.0  2.0  2.0  2.0  2.0  2.0  2.0

[486303 rows x 33 columns]

In [169]:
#Rename 2017
df_final_2017 = df_bffrs_2017_var.rename(columns ={"GENHLTH": "X1", "MENTHLTH": "X2", "HLTHPLN1" : "X3", "CHECKUP1" : "X4", "EXERANY2": "X5","_SMOKER3" : "X6", "_TOTINDA": "X7","_RFDRHV5" : "X8", "MARITAL" : "X9", "RENTHOM1" : "X10", "EMPLOY1" : "X11", "INCOME2" : "X12", "_EDUCAG" : "X13", "MSCODE":"X14", "BLIND": "X15", "DECIDE" :"X16", "SEX" : "X17", 
"_FLSHOT6" : "X18","_RACE" :"X19", "_BMI5CAT" : "X20", "_AGEG5YR" :"X21","DEAF" : "X22", "DIABETE3": "X23", "PDIABTST" :"X24", "PREDIAB1": "X25","_RFBMI5" : "X26", "CHCKIDNY" : "Y1", "CVDCRHD4" : "Y2", "CVDINFR4": "Y3", "CVDSTRK3" : "Y4", "CHCOCNCR" : "Y5", "HAVARTH3": "Y6", "ADDEPEV2" : "Y7"}) 

print (df_final_2017)

         X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  X26  \
0       2.0  88.0  1.0  2.0  1.0  4.0  1.0  1.0  3.0  1.0  ...  NaN  NaN  2.0
1       2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  1.0  3.0  2.0
2       3.0  88.0  1.0  1.0  2.0  4.0  2.0  1.0  1.0  1.0  ...  1.0  3.0  2.0
3       4.0  88.0  1.0  1.0  NaN  4.0  9.0  1.0  3.0  1.0  ...  NaN  NaN  2.0
4       4.0  88.0  1.0  1.0  2.0  3.0  2.0  1.0  3.0  2.0  ...  1.0  3.0  1.0
...     ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
450011  3.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  2.0  ...  NaN  NaN  2.0
450012  4.0   5.0  1.0  2.0  2.0  4.0  2.0  1.0  1.0  1.0  ...  NaN  NaN  1.0
450013  3.0  88.0  1.0  2.0  2.0  4.0  2.0  1.0  1.0  1.0  ...  NaN  NaN  2.0
450014  4.0  88.0  1.0  1.0  2.0  3.0  2.0  1.0  5.0  3.0  ...  NaN  NaN  2.0
450015  3.0  88.0  1.0  1.0  2.0  4.0  2.0  1.0  5.0  1.0  ...  NaN  NaN  2.0

         Y2   Y3   Y4   Y5   Y6   Y7   Y1
0       2.0  2.0  2.0  2.0  1.0  2.0  2.0
1       2.0  2.0  2.0  2.0  2.0  2.0  2.0
2       2.0  2.0  2.0  2.0  2.0  2.0  2.0
3       2.0  2.0  2.0  2.0  2.0  1.0  2.0
4       2.0  2.0  2.0  2.0  2.0  2.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
450011  2.0  2.0  2.0  2.0  2.0  2.0  2.0
450012  2.0  2.0  2.0  2.0  1.0  2.0  2.0
450013  2.0  2.0  2.0  2.0  1.0  2.0  2.0
450014  2.0  2.0  2.0  2.0  2.0  2.0  2.0
450015  2.0  2.0  2.0  2.0  2.0  2.0  2.0

[450016 rows x 33 columns]

In [170]:
#Rename 2018
df_final_2018 = df_bffrs_2018_var.rename(columns ={"GENHLTH": "X1", "MENTHLTH": "X2", "HLTHPLN1" : "X3", "CHECKUP1" : "X4", "EXERANY2": "X5","_SMOKER3" : "X6", "_TOTINDA": "X7","_RFDRHV6" : "X8", "MARITAL" : "X9", "RENTHOM1" : "X10", "EMPLOY1" : "X11", "INCOME2" : "X12", "_EDUCAG" : "X13", "MSCODE":"X14", "BLIND": "X15", "DECIDE" :"X16", "SEX1" : "X17", 
"_FLSHOT6" : "X18","_RACE" :"X19", "_BMI5CAT" : "X20", "_AGEG5YR" :"X21","DEAF" : "X22", "DIABETE3": "X23", "PDIABTST" :"X24", "PREDIAB1": "X25","_RFBMI5" : "X26", "CHCKDNY1" : "Y1", "CVDCRHD4" : "Y2", "CVDINFR4": "Y3", "CVDSTRK3" : "Y4", "CHCOCNCR" : "Y5", "HAVARTH3": "Y6", "ADDEPEV2" : "Y7"}) 

print (df_final_2018)

         X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  X26  \
0       2.0  88.0  1.0  1.0  2.0  4.0  2.0  1.0  3.0  1.0  ...  1.0  3.0  1.0
1       3.0  88.0  2.0  2.0  1.0  1.0  1.0  1.0  5.0  2.0  ...  2.0  3.0  2.0
2       5.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  3.0  1.0  ...  NaN  NaN  2.0
3       1.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  2.0  1.0  ...  7.0  3.0  2.0
4       2.0  88.0  1.0  1.0  2.0  4.0  2.0  1.0  1.0  1.0  ...  2.0  3.0  9.0
...     ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
437431  1.0  30.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  1.0  3.0  1.0
437432  1.0  88.0  1.0  2.0  1.0  4.0  1.0  1.0  3.0  1.0  ...  1.0  3.0  9.0
437433  5.0  88.0  1.0  2.0  2.0  3.0  2.0  1.0  3.0  1.0  ...  2.0  3.0  2.0
437434  4.0   2.0  1.0  1.0  1.0  1.0  1.0  1.0  6.0  1.0  ...  1.0  1.0  2.0
437435  3.0  30.0  1.0  1.0  2.0  4.0  2.0  1.0  4.0  1.0  ...  1.0  3.0  2.0

         Y2   Y3   Y4   Y5   Y6   Y7   Y1
0       2.0  2.0  2.0  2.0  1.0  2.0  2.0
1       2.0  2.0  2.0  2.0  2.0  2.0  2.0
2       2.0  2.0  1.0  2.0  2.0  1.0  2.0
3       2.0  2.0  2.0  2.0  2.0  2.0  2.0
4       2.0  2.0  2.0  2.0  2.0  2.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
437431  2.0  2.0  2.0  2.0  2.0  2.0  2.0
437432  2.0  2.0  2.0  2.0  2.0  2.0  2.0
437433  2.0  2.0  2.0  2.0  1.0  2.0  2.0
437434  2.0  2.0  2.0  2.0  1.0  2.0  2.0
437435  2.0  2.0  2.0  2.0  1.0  2.0  2.0

[437436 rows x 33 columns]

In [171]:
#Rename 2019 
# variabel yang tidak ada X6 : SLEPTIM1; X9: ECIGARET
df_final_2019 = df_bffrs_2019_var.rename(columns ={"GENHLTH": "X1", "MENTHLTH": "X2", "HLTHPLN1" : "X3", "CHECKUP1" : "X4", "EXERANY2": "X5","_SMOKER3" : "X6", "_TOTINDA": "X7","_RFDRHV7" : "X8", "MARITAL" : "X9", "RENTHOM1" : "X10", "EMPLOY1" : "X11", "INCOME2" : "X12", "_EDUCAG" : "X13", "MSCODE":"X14", "BLIND": "X15", "DECIDE" :"X16", "_SEX" : "X17", 
"_FLSHOT7" : "X18","_RACE" :"X19", "_BMI5CAT" : "X20", "_AGEG5YR" :"X21","DEAF" : "X22", "DIABETE4": "X23", "PDIABTST" :"X24", "PREDIAB1": "X25","_RFBMI5" : "X26", "CHCKDNY2" : "Y1", "CVDCRHD4" : "Y2", "CVDINFR4": "Y3", "CVDSTRK3" : "Y4", "CHCOCNCR" : "Y5", "HAVARTH4": "Y6", "ADDEPEV3" : "Y7"}) 


print (df_final_2019)

         X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  X26  \
0       3.0  88.0  1.0  1.0  2.0  3.0  2.0  1.0  2.0  2.0  ...  1.0  3.0  2.0
1       4.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
2       3.0  30.0  1.0  1.0  1.0  4.0  1.0  1.0  3.0  1.0  ...  NaN  NaN  2.0
3       4.0  88.0  1.0  1.0  NaN  9.0  9.0  9.0  3.0  1.0  ...  2.0  3.0  1.0
4       2.0  88.0  1.0  1.0  2.0  3.0  2.0  1.0  1.0  1.0  ...  1.0  3.0  1.0
...     ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
418263  3.0  88.0  1.0  1.0  2.0  4.0  2.0  1.0  2.0  2.0  ...  NaN  NaN  2.0
418264  2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  5.0  1.0  ...  NaN  NaN  2.0
418265  2.0   5.0  1.0  1.0  1.0  4.0  1.0  1.0  6.0  1.0  ...  NaN  NaN  2.0
418266  3.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  NaN  NaN  1.0
418267  3.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  NaN  NaN  1.0

         Y1   Y2   Y3   Y4   Y5   Y6   Y7
0       2.0  2.0  2.0  2.0  2.0  1.0  2.0
1       2.0  2.0  2.0  2.0  2.0  1.0  2.0
2       2.0  2.0  2.0  2.0  2.0  1.0  2.0
3       2.0  2.0  2.0  2.0  2.0  1.0  2.0
4       2.0  2.0  2.0  2.0  2.0  2.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
418263  2.0  2.0  2.0  2.0  2.0  1.0  2.0
418264  2.0  2.0  2.0  2.0  2.0  2.0  2.0
418265  2.0  2.0  2.0  2.0  2.0  2.0  2.0
418266  2.0  2.0  2.0  2.0  2.0  1.0  2.0
418267  2.0  2.0  2.0  2.0  2.0  2.0  2.0

[418268 rows x 33 columns]

In [172]:
#Rename 2020
df_final_2020 = df_bffrs_2020_var.rename(columns = {"GENHLTH": "X1", "MENTHLTH": "X2", "HLTHPLN1" : "X3", "CHECKUP1" : "X4", "EXERANY2": "X5", "_SMOKER3" : "X6", "_TOTINDA": "X7","_RFDRHV7" : "X8", "MARITAL" : "X9", "RENTHOM1" : "X10", "EMPLOY1" : "X11", "INCOME2" : "X12", "_EDUCAG" : "X13", "MSCODE":"X14", "BLIND": "X15", "DECIDE" :"X16", "_SEX" : "X17", 
"_FLSHOT7" : "X18","_RACE" :"X19", "_BMI5CAT" : "X20", "_AGEG5YR" :"X21","DEAF" : "X22", "DIABETE4": "X23", "PDIABTST" :"X24", "PREDIAB1": "X25","_RFBMI5" : "X26", "CHCKDNY2" : "Y1", "CVDCRHD4" : "Y2", "CVDINFR4": "Y3", "CVDSTRK3" : "Y4", "CHCOCNCR" : "Y5", "HAVARTH4": "Y6", "ADDEPEV3" : "Y7"}) 

print (df_final_2020)

         X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  X26  \
0       2.0  30.0  2.0  4.0  1.0  1.0  1.0  1.0  2.0  1.0  ...  NaN  NaN  1.0
1       3.0  88.0  1.0  1.0  1.0  9.0  1.0  9.0  3.0  1.0  ...  1.0  1.0  2.0
2       3.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  2.0  3.0  9.0
3       1.0  88.0  1.0  2.0  2.0  4.0  2.0  1.0  3.0  1.0  ...  2.0  3.0  9.0
4       2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  3.0  2.0  ...  2.0  3.0  1.0
...     ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
401953  3.0  88.0  2.0  2.0  1.0  4.0  1.0  1.0  2.0  1.0  ...  1.0  3.0  1.0
401954  3.0  88.0  1.0  3.0  2.0  4.0  2.0  1.0  1.0  2.0  ...  2.0  3.0  2.0
401955  3.0  88.0  1.0  2.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  1.0  3.0  2.0
401956  3.0  88.0  1.0  1.0  1.0  9.0  1.0  1.0  1.0  1.0  ...  1.0  3.0  2.0
401957  3.0   7.0  1.0  1.0  2.0  4.0  2.0  1.0  1.0  1.0  ...  1.0  1.0  2.0

         Y1   Y2   Y3   Y4   Y5   Y6   Y7
0       2.0  2.0  2.0  2.0  1.0  1.0  1.0
1       2.0  2.0  2.0  2.0  2.0  1.0  1.0
2       2.0  2.0  2.0  2.0  1.0  1.0  2.0
3       2.0  2.0  2.0  2.0  2.0  2.0  2.0
4       2.0  2.0  2.0  1.0  2.0  2.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
401953  2.0  2.0  2.0  2.0  2.0  2.0  1.0
401954  2.0  2.0  2.0  2.0  2.0  2.0  2.0
401955  2.0  2.0  2.0  2.0  2.0  2.0  2.0
401956  2.0  2.0  2.0  2.0  2.0  2.0  2.0
401957  7.0  2.0  2.0  1.0  2.0  2.0  1.0

[401958 rows x 33 columns]

In [173]:
#Rename 2021
df_final_2021 = df_bffrs_2021_var.rename(columns = {"GENHLTH": "X1", "MENTHLTH": "X2", "_HLTHPLN" : "X3", "CHECKUP1" : "X4", "EXERANY2": "X5","_SMOKER3" : "X6", "_TOTINDA": "X7","_RFDRHV7" : "X8", "MARITAL" : "X9", "RENTHOM1" : "X10", "EMPLOY1" : "X11", "INCOME3" : "X12", "_EDUCAG" : "X13", "MSCODE":"X14", "BLIND": "X15", "DECIDE" :"X16", "_SEX" : "X17", 
"_FLSHOT7" : "X18","_RACE" :"X19", "_BMI5CAT" : "X20", "_AGEG5YR" :"X21","DEAF" : "X22", "DIABETE4": "X23", "PDIABTST" :"X24", "PREDIAB1": "X25","_RFBMI5" : "X26", "CHCKDNY2" : "Y1", "CVDCRHD4" : "Y2", "CVDINFR4": "Y3", "CVDSTRK3" : "Y4", "CHCOCNCR" : "Y5", "HAVARTH5": "Y6", "ADDEPEV3" : "Y7"}) 

print (df_final_2021)

         X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  X26  \
0       5.0  10.0  1.0  2.0  2.0  3.0  2.0  1.0  1.0  1.0  ...  2.0  3.0  1.0
1       3.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  9.0  1.0  ...  NaN  NaN  9.0
2       2.0  88.0  1.0  1.0  2.0  4.0  2.0  1.0  3.0  1.0  ...  NaN  NaN  2.0
3       2.0  10.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  NaN  NaN  2.0
4       5.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  NaN  NaN  2.0
...     ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
438688  2.0  20.0  2.0  4.0  1.0  3.0  1.0  1.0  5.0  1.0  ...  2.0  3.0  1.0
438689  3.0  88.0  9.0  1.0  2.0  4.0  2.0  1.0  3.0  1.0  ...  NaN  NaN  9.0
438690  2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  2.0  3.0  2.0
438691  2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  2.0  1.0  ...  1.0  3.0  1.0
438692  1.0   2.0  1.0  1.0  1.0  4.0  1.0  1.0  2.0  1.0  ...  1.0  3.0  2.0

         Y1   Y2   Y3   Y4   Y5   Y6   Y7
0       2.0  2.0  2.0  2.0  2.0  1.0  2.0
1       1.0  1.0  2.0  2.0  2.0  1.0  2.0
2       2.0  1.0  2.0  2.0  2.0  2.0  2.0
3       2.0  2.0  2.0  2.0  2.0  2.0  2.0
4       2.0  7.0  1.0  1.0  2.0  2.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
438688  2.0  2.0  2.0  2.0  2.0  2.0  1.0
438689  2.0  2.0  2.0  2.0  2.0  2.0  2.0
438690  2.0  2.0  2.0  2.0  2.0  7.0  2.0
438691  2.0  2.0  2.0  2.0  2.0  2.0  2.0
438692  2.0  2.0  2.0  2.0  2.0  2.0  2.0

[438693 rows x 33 columns]

In [192]:
df_list = [df_final_2016, df_final_2017, df_final_2018, df_final_2019, df_final_2020, df_final_2021]
df_final = pd.concat(df_list, ignore_index =True)

In [193]:
df_final.describe

<bound method NDFrame.describe of           X1    X2   X3   X4   X5   X6   X7   X8   X9  X10  ...  X24  X25  \
0        1.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  7.0  3.0
1        2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  2.0  3.0
2        3.0   1.0  1.0  1.0  1.0  1.0  1.0  1.0  3.0  1.0  ...  1.0  3.0
3        3.0  88.0  1.0  1.0  1.0  3.0  1.0  1.0  1.0  1.0  ...  NaN  NaN
4        5.0   3.0  1.0  1.0  1.0  4.0  1.0  1.0  5.0  3.0  ...  2.0  3.0
...      ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2632669  2.0  20.0  2.0  4.0  1.0  3.0  1.0  1.0  5.0  1.0  ...  2.0  3.0
2632670  3.0  88.0  9.0  1.0  2.0  4.0  2.0  1.0  3.0  1.0  ...  NaN  NaN
2632671  2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0  ...  2.0  3.0
2632672  2.0  88.0  1.0  1.0  1.0  4.0  1.0  1.0  2.0  1.0  ...  1.0  3.0
2632673  1.0   2.0  1.0  1.0  1.0  4.0  1.0  1.0  2.0  1.0  ...  1.0  3.0

         X26   Y2   Y3   Y4   Y5   Y6   Y7   Y1
0        1.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0
1        2.0  2.0  2.0  2.0  2.0  2.0  1.0  2.0
2        1.0  2.0  1.0  2.0  2.0  1.0  2.0  2.0
3        2.0  2.0  2.0  2.0  2.0  1.0  2.0  2.0
4        1.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0
...      ...  ...  ...  ...  ...  ...  ...  ...
2632669  1.0  2.0  2.0  2.0  2.0  2.0  1.0  2.0
2632670  9.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0
2632671  2.0  2.0  2.0  2.0  2.0  7.0  2.0  2.0
2632672  1.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0
2632673  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0

[2632674 rows x 33 columns]>

In [194]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632674 entries, 0 to 2632673
Data columns (total 33 columns):
 #   Column  Dtype
---  ------  -----
 0   X1      float64
 1   X2      float64
 2   X3      float64
 3   X4      float64
 4   X5      float64
 5   X6      float64
 6   X7      float64
 7   X8      float64
 8   X9      float64
 9   X10     float64
 10  X11     float64
 11  X12     float64
 12  X13     float64
 13  X14     float64
 14  X15     float64
 15  X16     float64
 16  X17     float64
 17  X18     float64
 18  X19     float64
 19  X20     float64
 20  X21     float64
 21  X22     float64
 22  X23     float64
 23  X24     float64
 24  X25     float64
 25  X26     float64
 26  Y2      float64
 27  Y3      float64
 28  Y4      float64
 29  Y5      float64
 30  Y6      float64
 31  Y7      float64
 32  Y1      float64
dtypes: float64(33)
memory usage: 662.8 MB
None

In [177]:
df_final.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X24,X25,X26,Y2,Y3,Y4,Y5,Y6,Y7,Y1
0,1.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,7.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,2.0,88.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
2,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,1.0,3.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0
3,3.0,88.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
4,5.0,3.0,1.0,1.0,1.0,4.0,1.0,1.0,5.0,3.0,...,2.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [195]:
df_final.groupby('X1').size()

X1
1.0    454740
2.0    868637
3.0    823464
4.0    349947
5.0    129086
7.0      4519
9.0      2210
dtype: int64

In [196]:
#save on csv
#df_bffrs_2017 = pd.read_sas('/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com//My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Dataset/LLCP2017XPT/LLCP2017.XPT')
df_final.to_csv(r'/Users/user/Library/CloudStorage/GoogleDrive-nurrachmandzakiyullah@gmail.com/My Drive/Colab Notebooks/1. AI_Project/2. PhD_Dzaki_BRFSS/Fix_Model_HP/2. MLC Model/3. Pak_Murti_Project/0. EDPMLC_MAC/data_clean_final_with_NAN_allvar.csv', index=False)